header {
  height: 10vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: 4px solid var(--mid-color);
}
@media screen and (min-width: 728px) {
  header {
    padding: 0;
    justify-content: space-around;
  }
}
