header {
  height: 10svh;
  min-height: 50px;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  border-bottom: 2px solid var(--mid-color);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media screen and (min-width: 728px) {
  header {
    padding: 0;
    justify-content: space-evenly;
    gap: 5rem;
  }
}
@media screen and (min-width: 900px) {
  header {
    border-bottom: 2px solid var(--mid-color);
    border-right: 2px solid var(--mid-color);
    border-left: 2px solid var(--mid-color);
    border-radius: 0 0 50px 50px;
  }
}
