:root {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  --primary-color: #050f2b;
  --secondary-color: #c1cddc;

  /* --mid-color: #6debbb; */
  --mid-color: #00c36f;
  --text-color: #e9fafce8;
  --background-color: #1b242f;

  --box-shadow-inset: inset 0 0 300px -100px #6debbb69;

  --background-gradient: linear-gradient(35deg, var(--background-color) 0%, var(--mid-color) 100%);
  /* colors extra #516EBC #153477 */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.display-none {
  display: none;
}
.display-flex {
  display: flex;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
