.language-button {
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--mid-color);
  display: flex;
  width: 120px;
  height: 24px;
  align-items: center;
  padding: 2px 5px;
  justify-content: space-evenly;
  border-radius: 10px;
  overflow: hidden;
}

.flag-image {
  height: 20px;
  object-fit: contain;
  width: 48px;
  background-color: var(--background-color);
}

.language-button > span {
  color: var(--text-color);
}
