#language-button {
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--mid-color);
  display: flex;
  width: 52px;
  height: 34px;
  align-items: center;
  justify-content: center;
  padding: 2px 0px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  color: var(--text-color);
  font-weight: 700;
}

.flag-image {
  height: 24px;
  border-radius: 10px;
  object-fit: cover;
  width: 32px;
  background-color: var(--background-color);
}
#language-button:hover,
#language-button.dropdown-focus {
  background: var(--mid-color);
  color: var(--background-color);
  border: 1px solid var(--text-color);
}
#language-button > span {
  display: none;
}

@media screen and (min-width: 728px) {
  #language-button > span {
    display: block;
  }
  #language-button {
    width: 130px;
    gap: 1rem;
  }
}
