main {
  height: 80svh;
}

.fade-out {
  animation: 0.5s ease-out 0s 1 slideOut;
  position: absolute;
  width: 90svw !important;
  height: 80svh !important;
}
.fade-in {
  animation: 0.5s ease-out 0s 1 slideIn;
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-200%);
  }
  95% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0);
  }
}
