#nav-links > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.main-link {
  color: var(--text-color);
  text-transform: uppercase;
  position: relative;
}

.main-link:after {
  bottom: -2px;
  content: '';
  height: 1px;
  left: 50%;
  position: absolute;
  background: var(--text-color);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.main-link:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (min-width: 728px) {
  /* TODO: remove text for something else for mobile????*/
}
