footer {
  height: 10svh;
  min-height: 50px;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid var(--mid-color);
  color: var(--text-color);
}
