.card-container {
  background: var(--background-color);
  color: var(--text-color);
  padding: 1rem;
  border-radius: 0 0 10px 10px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  height: 100%;
  border: solid 1px var(--mid-color);
  border-left-width: 3px;
  border-top-width: 3px;
}
.active-card {
  display: flex;
}
.card-title-container > h3 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 25px;
  color: var(--mid-color);
}

.card-title-container > h4 {
  font-weight: 400;
  line-height: 1;
  font-size: 15px;
  color: var(--text-color);
  opacity: 0.7;
}

.card-inner-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media screen and (min-width: 405px) {
  .card-container {
    width: 50svw;
    max-width: 750px;
    border-radius: 0 10px 10px 0;
    border-left-width: 3px;
    border-top-width: 3px;
  }
  .card-inner-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}
