.dropdown-focus ~ ul {
  display: block;
}
.default-burger-icon {
  width: 36px;
  height: 36px;
  background: var(--background-color);
  border: none;
  position: relative;
  z-index: 2;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.default-burger-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--mid-color);
  border-radius: 10px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.default-burger-icon span:nth-child(1) {
  top: 5px;
}

.default-burger-icon span:nth-child(2),
.default-burger-icon span:nth-child(3) {
  top: 15px;
}

.default-burger-icon span:nth-child(4) {
  top: 25px;
}

.default-burger-icon.dropdown-focus span:nth-child(1),
.default-burger-icon.dropdown-focus span:nth-child(4) {
  opacity: 0;
}
.default-burger-icon.dropdown-focus span:nth-child(2) {
  transform: rotate(45deg);
}

.default-burger-icon.dropdown-focus span:nth-child(3) {
  transform: rotate(-45deg);
}
